	
	body{background-color: slategray;
	}
	h1{color: darkblue;
		font-family: inherit;
	}
	h2{ color: azure;
		font-family: inherit;
	 }

	 p{ color: burlywood;
	 	font-family: sans-serif;
	 	font-size: 12pt; }
	
	a{ color: darkblue; }
	
	form{padding: 15px;
		background-color: wheat;
		width: 30%;
		font-style: normal;
		border-style: solid;
		font-weight:900px ;}

	input[type = button]{
		color: black;
		background-color: lightgray;
		padding: 5px;
	}		

	#ihopList{color: saddlebrown;}
	.funnytext{text-decoration: underline;}

	
	#div1 {background-color: lightgray;
		position: relative;
		width: 50%;
		height: 50%;
		}

	#div2 {background-color: dimgray;
			position: relative;}
	
	#div3 {background-color: rosybrown;
			position: relative;}

	#div1, #div2, #div3 {border: dashed;}

