* { box-sizing: border-box; }

.grid-container {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(156, 247, 10);
  border: 1px solid rgb(17, 143, 49);
  padding: 10px; 
}
.grid-item{
  display: grid;
  background-color: rgb(186, 246, 88);
 
  border: 1px solid rgb(17, 143, 49);
  padding: 5px; 
  
}

img {
    width: 100px;
    height: 100px;
    background-color: rgba(22, 252, 110, 0.966);
    border: 1px solid rgb(17, 143, 49);
    padding: 5px;
    
  }
