
body{
    background-color:  #f0efed;
}

.center button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: slategray;
    color: blue;
}

.center button:hover{
    background:palegreen;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }

#one {

    background: white;

}








  